@model List<rentacar.Models.Wishlist>

@{ ViewData["Title"] = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



<h1>Wishlist </h1>
<h3>Auta:</h3>
@foreach (var item in Model)
{
    <p><a href="/CarsList/Details/?id=@item.Automobil.Id">@item.Automobil.Naziv</a></p>
}
