@model KorisniciEditVM

@{
    ViewData["Title"] = "Uredi korisnika";
}

<section class="section-lg bg-default">
    <div class="container">
        <h4 class="title-block">@ViewData["Title"]</h4>
        <div class="row row-sm row-30">

            <div class="row" style="margin: 0 auto;">
                <div class="col-md-12">

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Ime" class="control-label"></label>
                            <input asp-for="Ime" class="form-control" />
                            <span asp-validation-for="Ime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prezime" class="control-label"></label>
                            <input asp-for="Prezime" class="form-control" />
                            <span asp-validation-for="Prezime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefon" class="control-label"></label>
                            <input asp-for="Telefon" class="form-control" />
                            <span asp-validation-for="Telefon" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Lozinka" class="control-label"></label>
                            <input asp-for="Lozinka" class="form-control" />
                            <span asp-validation-for="Lozinka" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LozinkaPotvrda" class="control-label"></label>
                            <input asp-for="LozinkaPotvrda" class="form-control" />
                            <span asp-validation-for="LozinkaPotvrda" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Spasi" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-primary">Nazad</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
